.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: blue;
  padding: 32px 64px;
}

.nav__logo {
  width: 250px;
}

.nav__buttons__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 16px;
}

.nav__btn {
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
}

.nav__btn:first-child {
  margin-right: 16px;
}

.main__container {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.register-form__container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  border: 1px solid red;
  margin: 32px;
  padding: 32px;
  border-radius: 4px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form__title {
  margin-top: 0;
}

.register-form > label {
  padding: 8px 0; 
}

.register-form__submit {
  margin-top: 16px;
  cursor: pointer;
}