:root {
  --blue: #253b80;
  --light-blue: #2997d8;
}
html {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--blue);
}
em {
  color: var(--light-blue);
}
input {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px;
}
/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
  box-shadow: 1px 2px 12px 0 #e6e7e8;
  border-bottom: 1px solid #e6e7e8;
}
.navbar__logo {
  flex: 1;
  font-size: 24px;
}
.navbar__items {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar__link {
  margin: 0 16px;
}
.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.btn--primary {
  background: var(--blue);
  color: white;
}
.btn--secondary {
  background: transparent;
}
/*ACCOUNT SECTION*/
.account {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: calc(100vh - 115px);
}
.dashboard {
  display: grid;
  grid-column: 1fr;
  grid-template-rows: calc(100vh - 115px);
}
.account__splash-img {
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account__sideimg h1 {
  font-size: 56px;
}
.account__left-wrapper {
  display: flex;
  padding: 80px;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form * {
  margin-bottom: 8px;
}
.input--incorrect {
  border: 1px solid #dc3545;
}
.input--correct {
  border: 1px solid #28a745;
}
.error-message {
  margin: 0;
  font-size: 12px;
  color: #dc3545;
}
.register-fields--hidden {
  display: none;
}
.account__board-user {
  width: 100%;
  height: 100%;
  padding: 80px;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.account__board-wrapper {
  display: flex;
  padding: 80px;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
}
.deposit-form{
  margin-top: 24px;
  
}
@media screen and (max-width: 768px) {
  .account {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .navbar {
    padding: 24px;
  }
  .account__left-wrapper {
    padding: 24px;
  }
  .account__board-wrapper {
    padding: 24px;
  }
}
@keyframes start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
